header { 
    height: 100px;
    width: 100%;
   
}

h1 {
    text-align: center;
    line-height: 100px;
}

.skeleton {
    width: 100%;
    margin: 0 auto;
    clear: both;
  }

#masthead {
    position: relative;
    z-index: 99;
    height: 110px;
    width: 100%;
    margin: 0px 0px 30px 0px;
    overflow: auto;
    background: white;
    background-image: url("./pexels-rachel-xiao-773063.jpg");
  }
  
  #logo {
    margin-right: 650px;
    margin-left: 665px;
    height: 125px;
    background-image: url("./ef427c793416427885141f2db653a569.png");
    background-repeat: repeat-y;
    background-size: contain;
}

.input-field {
    position: relative;
    margin-top: -2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
    



/* .nav-wrapper {
    @extend .blue-text, .text-lighten-4
} */

/* div.schedule {
   flex: auto;
   align-content: center; */


 